@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --purple:#8e44ad;
   --red:#c0392b;
   --orange:#f39c12;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition:all .2s linear;
}

*::selection{
   background-color: var(--purple);
   color:var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color:crimson;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background-color: var(--light-bg);
}

section{
   padding:3rem 2rem;
}

.title{
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 0;
   padding-right: 0;
   background: transparent;
   backdrop-filter: blur(40px);
   text-align: center;
   margin-bottom: 2rem;
   text-transform: uppercase;
   color:black;
   font-size: 4rem;
   width: 100%;

}

.empty{
   padding:1.5rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   color:var(--red);
   font-size: 2rem;
}

.message{
   position: sticky;
   top:0;
   margin:0 auto;
   max-width: 1200px;
   background-color: var(--light-bg);
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 10000;
   gap:1.5rem;
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

.message i{
   cursor: pointer;
   color:var(--red);
   font-size: 2.5rem;
}

.message i:hover{
   transform: rotate(90deg);
}

.btn,
.update-btn,
.delete-btn,
.white-btn{
   display: inline-block;
   margin-top: 1rem;
   padding:7px;
   cursor: pointer;
   font-size: 1.8rem;
   border-radius: 3.7rem;
   text-transform: capitalize;
}

.delete-btn{
   color: #ffff;
   font-weight: 100;
}

.update-btn{
   background-color:rgb(175, 137, 211);
   color: black;
   margin: 2px;
   margin-right: 2px;
}

.update-btn:hover{
   background-color: #333;
}

.dash{
   background: url("https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg");
   background-color: var(--light-bg);
   background-size: cover;
   background-repeat:no-repeat;
   position: relative;
   background-attachment: fixed;
}
.footer{
   padding: 0;
}
.footer1{
   padding: 0;
   margin-top: 200px;
   margin-bottom: 0%;
 
}
.footer1 .credit{
   background-color: rgba(0, 0, 0, 0.897);
   text-align: center;
   font-size: 2rem;
   color:#fff;
   border-top: var(--border);
   width: 100%;
   bottom:0; left:0; right:0;
   margin-bottom: 0;
   padding: 15px;
}
.footer2{
   padding: 0;
   margin-top: 370px;
   margin-bottom: 0%;
 
}
.footer2 .credit{
   background-color: rgba(0, 0, 0, 0.897);
   text-align: center;
   font-size: 2rem;
   color:#fff;
   border-top: var(--border);
   width: 100%;
   bottom:0; left:0; right:0;
   margin-bottom: 0;
   padding: 15px;
}
.footer .credit{
   background-color: rgba(0, 0, 0, 0.897);
   text-align: center;
   font-size: 2rem;
   color:#fff;
   border-top: var(--border);
   width: 100%;
   bottom:0; left:0; right:0;
   margin-bottom: 0;
   padding: 15px;
}

.footer .credit span{
   color: #fda785;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover{
   background-color: var(--black);
}

.white-btn,
.btn{
   background-color: var(--purple);
}

.option-btn{
   background-color: var(--orange);
}

.delete-btn{
   background-color: var(--red);
}

.white-btn:hover{
   background-color: var(--white);
   color:var(--black);
}

@keyframes fadeIn {
   0%{
      transform: translateY(1rem);
      opacity: .2s;
   }
}

.header{
   position: sticky;
   top:0; left:0; right:0;
   z-index: 1000;
   background-color: #f7e1d3;
   box-shadow: var(--box-shadow);
}


.header .flex{
   display: flex;
   align-items: center;

   position: relative;


}
 
.admin-logo-img{
   height: 100px;
   width: 140px;
   margin-left: 10px;
   margin-right: 10px;
   padding: 0;
   float: left;
   left: 0;
}
.header .flex .logo{
   font-size: 2.5rem;
   color:var(--black);
   padding-left: 0;
   margin-left: 10px;
}

.header .flex .logo span{
   color: #fda785;
   font-weight:900;
}

.header .flex .logo:hover{
   text-shadow: 0 0 20px black;
   font-size:3rem;
}
.header .flex .navbar{
   margin-left: 240px;
}
.header .flex .navbar a{
   margin:0 1rem;
   font-size: 2.3rem;
   color:var(--black);
}

.header .flex .navbar a:hover{
   color:black;
   text-decoration: underline;
   text-shadow: 0 0 10px var(--black);
}

.header .flex .icons div{
   margin-left: 160px;
   padding-left: 30px;
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--black);
}

.header .flex .icons div:hover{
   color:black;
   text-decoration: underline;
   text-shadow: 0 0 10px var(--black);
}

.header .flex .account-box{
   float: left;
   background-color: #f7e1d3;
   position: absolute;
   top:120%; right:2rem;
   width: 35rem;
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   padding:2rem;
   border-radius: .5rem;
   border:var(--border);
   display: none;
   animation:fadeIn .2s linear;
}

.header .flex .account-box.active{
   display: inline-block;
}

.header .flex .account-box p{
   font-size: 17px;
   color:red;
   margin-bottom: 1.5rem;
}

.header .flex .account-box p span{
   color:black;
   font-size: 17px;
}

.header .flex .account-box .delete-btn{
   margin-top: 0;
   margin-left: 43%;
   color: #f7e1d3;
   border-radius: 20px;
}

.header .flex .account-box div{
   margin-top: 1.5rem;
   font-size: 2rem;
   color:var(--light-color);
}

.header .flex .account-box div a{
   color:rgb(97, 97, 167);
   font-weight: bold;
   font-size: 17px;
}
.header .flex .account-box div{
   font-size: 20px;
}

.header .flex .account-box div a:hover{
   text-decoration: underline;
}

.product-bg{
   background: url("https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg");
   min-height: 100vh;
   background-color: var(--light-bg);
 
   background-size: cover;
   background-repeat:no-repeat;
   position: relative;
   background-attachment: fixed; 
}

#menu-btn{
   display: none;
}

.dashboard .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap:1.5rem;
   max-width: 1200px;
   margin:0 auto;
   align-items: flex-start;
}

.dashboard .box-container .box{

   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border:var(--border);
   text-align: center;
   margin-top: 3.7rem;
   border-radius: 20px;
   background: transparent;
   backdrop-filter: blur(40px);
   text-align: center;
}

.dashboard .box-container .box h4{
   font-size: 5rem;
   color:black;
   margin-bottom: 10px;
   padding-top: 2rem;
}

.dashboard .box-container .box p{
   padding:1.5rem;
   background-color: rgba(22, 22, 22, 0.897);
   color:#fda785;
   font-size: 2.3rem;
   border-radius: 20px 20px 0 0;
   border:var(--border);
   margin-bottom: 10px;
   padding-bottom: 2rem;
}

.add-products form{

   border-radius: .5rem;
   padding:2rem;
   border:var(--border);
   max-width: 50rem;
   margin:0 auto;

   width: 50rem;
   border-radius: 20px;
   box-shadow: 0 0 20px rgb(44, 43, 43);
   border:2px solid rgba(255, 255, 255, 0.5);
   background: transparent;
   backdrop-filter: blur(40px);
   text-align: center;
}

.add-products form h3{
   font-size: 2.5rem;
   text-transform: uppercase;
   color:var(--black);
  

   font-size: 3rem;
   margin-bottom: 1rem;
   padding-bottom: .5rem;
   color: black;
}

.add-products form .box{
   width: 100%;
   background-color: var(--light-bg);
   margin:1rem 0;
   
   color:var(--black);
   font-size: 1.8rem;

   width: 80%;
   font-weight: 500;
   background: transparent;
   padding:.4rem 1.4rem;
   font-size: 1.8rem;
   color:black;
   border-bottom:1px solid #fff;
   margin:1rem 0;
   outline: none;
}
.add-products form .mbox{

   background-color: var(--light-bg);
   margin:1rem 0;
   
   color:var(--black);
   font-size: 1.8rem;

   width: 80%;
   font-weight: 500;
   background: transparent;
   padding:.5rem 1.4rem;
   font-size: 1.8rem;
   color:black;
   border:1px solid #fff;
   margin:1rem 0;

   
   
  
}
.add-products form .f{
   
   background-color: var(--light-bg);
   margin:1rem 3.5rem;
   color:var(--black);
   font-size: 1.8rem;
   width: 54%;
   height: 50px;
   font-weight: 500;
   background: transparent;
   padding:1.2rem 1.4rem;
   font-size: 1.5rem;
   color:crimson;
   
   outline: none;
   cursor: pointer;
   
}

.add-products form .wh{
   display:flex;
}
.add-products form .ch{
   display:flex;
   justify-content: center;
  
}

.add-products form .cbox{
   margin-top: 27%;
   width: 15px;
   height: 16px;
   appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f1d9d9;
  border: 1px solid #160707;
  border-radius: 4px;
  
  cursor: pointer;
  outline: none;

}
.add-products form .cbox:checked{
   background-color: crimson;
}
.add-products form .cbox::after{
   color: #ccc;

   content: '✔';
   font-size: 13px;
   font-weight: bolder;
  
  
}
.add-products form .cbox:checked::after{
   visibility: visible;
}

.add-products form .feat{
   margin-top: 26%;
   padding: 0 7px;
   font-size: 1.7rem;
   color: #fff;
   font-weight:100;
}
 

::placeholder{
   color: #fff;
   font-weight:100;
}

.show-products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   justify-content: center;
   gap:1.5rem;

   margin:0 auto;
   align-items: flex-start;
}

.show-products{
   padding-top: 0;
}

.show-products .box-container .box{
   width: 265px;
   padding:1.5rem;
   border:var(--border);
   box-shadow: var(--box-shadow);
   background-color: var(--white);
   border-radius: 20px;
   box-shadow: 0 0 20px rgb(44, 43, 43);
   background: linear-gradient(#fcab8b54,rgba(0, 0, 0, 0.986)),transparent;
   backdrop-filter: blur(40px);
   text-align: center;
}

.show-products .box-container .box img{
   height: 27rem;
   width: 230px;
}

.show-products .box-container .box .name{
   padding-top:5px;
   font-size: 2.2rem;
   color:#ffff;
}

.show-products .box-container .box .deco{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 3px;
}

.show-products .box-container .box .genre{
   font-size: 1.9rem;
   color:#ffff;
   font-weight: 200;
}

.show-products .box-container .box .price{

   font-size: 1.9rem;
   color:rgb(226, 15, 15);
   margin-left: 5px;
}

.show-products .box-container .box .quantity{
   padding: 3px;
   font-size: 1.6rem;
   color:#ffff;
   font-weight:100;
}

.edit-product-form{
   min-height: 100vh;
   background-color: rgba(0,0,0,.6);
   display: flex;
   align-items: center;
   justify-content: center;
   padding:2rem;
   overflow-y: scroll;
   position: fixed;
   top:0; left:0; 
   z-index: 1200;
   width: 100%;
}

.edit-product-form form{
   border-radius: .5rem;
   padding:2rem;
   border:var(--border);
   max-width: 50rem;
   margin:0 auto;

   width: 50rem;
   border-radius: 20px;
   box-shadow: 0 0 20px rgb(44, 43, 43);
   border:2px solid rgba(255, 255, 255, 0.5);
   background: transparent;
   backdrop-filter: blur(40px);
   text-align: center;
}


.edit-product-form form img{
   height: 16rem;
   margin-bottom: .5rem;
}

.edit-product-form form .box{

   width: 80%;
   background-color: var(--light-bg);
 
   color:var(--black);
   font-size: 1.8rem;

  
   font-weight: 200;
   background: transparent;
   padding:.4rem 1.4rem;
   font-size: 1.8rem;
   color:rgb(255, 245, 245);
   border-bottom:1px solid #fff;
   margin: 0.5rem 0;
   outline: none;
}
.edit-product-form form .mbox{

   background-color: var(--light-bg);
   margin:1rem 0;
   
   color:var(--black);
   font-size: 1.8rem;

   width: 80%;
   font-weight: 200;
   background: transparent;
   padding:.5rem 1.4rem;
   font-size: 1.8rem;
   color:rgb(250, 248, 248);
   border:1px solid #fff;
   margin:1rem 0;
}
.edit-product-form form .f{
   
   background-color: var(--light-bg);
   margin:1rem 3.5rem;
   color:var(--black);
   font-size: 1.8rem;
   width: 54%;
   height: 50px;
   font-weight: 500;
   background: transparent;
   padding:1.2rem 1.4rem;
   font-size: 1.5rem;
   color:crimson;
   
   outline: none;
   cursor: pointer;
   
}
.edit-product-form form .wh{
   display:flex;
}
.edit-product-form form .ch{
   display:flex;
   justify-content: center;
  
}

.edit-product-form form .cbox{
  margin-top: 27%;
   width: 15px;
   height: 16px;
   appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f1d9d9ec;
  border: 1px solid #160707;
  border-radius: 4px;
  
  cursor: pointer;
  outline: none;

}
.edit-product-form form .cbox:checked{
   background-color: crimson;
}
.edit-product-form form .cbox::after{
color: #f1d9d9;
   content: '✔';
   font-size: 13px;
   font-weight: bolder;
  
  
}
.edit-product-form form .cbox:checked::after{
   visibility: visible;
}

.edit-product-form form .feat{
  margin-top: 26%;
   padding: 0 7px;
   font-size: 1.7rem;
   color: #070707;
   font-weight:500;
}
.edit-product-form form .update-btn{
   margin-right: 10px;
   width: 21%;
}
.edit-product-form form .option-btn{
   font-size: 1.8rem;
   border-radius: .5rem;
   height: 3.5rem;
   width: 21%;
   background-color: var(--red);
}


.orders .box-container{
   display: flex;
   grid-template-columns: repeat(auto-fit, 30rem);
   justify-content:space-evenly;
   gap:1.5rem;
   margin-right: 200px;
   align-items: flex-start;
}

.orders .box-container .box{
   background-color: var(--white);
   padding:2rem;
   width:400px;
   margin:auto;
   border:var(--border);
   box-shadow: var(--box-shadow);
   background-color: var(--white);
   border-radius: 20px;
   box-shadow: 0 0 20px rgb(44, 43, 43);
   background: linear-gradient(#fcab8b4d,rgba(0, 0, 0, 0.986)),transparent;
   backdrop-filter: blur(40px);
   
}

.orders .box-container .box p{
   padding-bottom: 1rem;
   font-size: 2rem;
   color:black;
   font-weight: 600;
}

.orders .box-container .box p span{
   color:#fab194;
   font-weight: 200;
}

.orders .box-container .box form{
   text-align: center;
}

.orders .box-container .box form select{
   border-radius: .5rem;
   margin:.5rem 0;
   width: 100%;
   background-color: var(--light-bg);

   padding:1rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);

   
   background: transparent;
   backdrop-filter: blur(40px);
   


   width: 80%;
   font-weight: 500;
   border-bottom:1px solid #fab194;;
   margin:1rem 0;
   outline: none;

}

.users .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   justify-content: space-evenly;
   gap:1.5rem;

   margin-right: 200px;
   align-items: flex-start;
}

.users .box-container .box{
   background-color: var(--white);
   padding:2rem;
   height: auto;
   width:300px;
   margin-right: 1000px;
   border:var(--border);
   box-shadow: var(--box-shadow);
   background-color: var(--white);
   border-radius: 20px;
   box-shadow: 0 0 20px rgb(44, 43, 43);
   background: linear-gradient(#fcab8b4d,rgba(0, 0, 0, 0.986)),transparent;
   backdrop-filter: blur(40px);
}

.users .box-container .box p{
   padding-bottom: 1rem;
   font-size: 2rem;
   color:black;
   font-weight: 600;
}

.users .box-container .box p span{
   color:#fab194;
   font-weight: 200;
}

.users .box-container .box .delete-btn{
   margin-top: 0;
}

.messages .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   justify-content: center;
   gap:1.5rem;
   max-width: 1200px;
   margin:0 auto;
   align-items: flex-start;
}

.messages .box-container .box{
   background-color: var(--white);
   padding:2rem;


   background-color: var(--white);
   padding:2rem;

   width:350px;
   margin-right: 1000px;
   border:var(--border);
   box-shadow: var(--box-shadow);
   background-color: var(--white);
   border-radius: 20px;
   box-shadow: 0 0 20px rgb(44, 43, 43);
   background: linear-gradient(#fcab8b4d,rgba(0, 0, 0, 0.986)),transparent;
   backdrop-filter: blur(40px);
}

.messages .box-container .box p{
   padding-bottom: 1rem;
   font-size: 2rem;
   color:black;
   font-weight: 600;
}

.messages .box-container .box p span{
   color:#fab194;
   font-weight: 200;
}

.messages .box-container .box .delete-btn{
   margin-top: 0;
}




















/* media queries  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .flex .navbar a{
      margin:2rem;
      display: block;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .title{
      font-size: 3rem;
   }

}